@model User
<style>
    body {
        background: linear-gradient(to bottom, #000000,grey, #808080);
    }
</style>
<h1>Create User</h1>

<form asp-controller="Account" asp-action="Create">
    <div class="form-group">
        <label asp-for="UserName">Full Name:</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsAdmin">Is Admin:</label>
        <input type="checkbox" asp-for="IsAdmin" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
