<style>
    body {
        background: linear-gradient(to bottom, #000000,grey, #808080);
    }
</style>




<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="custom-title mt-5">Thank you !!!</h1>
            <p>Your message has been submitted.</p>
        </div>
    </div>
</div>
